.header {
max-width: 70%;
min-width: 320px;
margin: 0 auto;
margin-bottom: 40px;
position: relative;
z-index: 1;
}
@import url(../header/header__vector.css);
@import url(../header/header__line.css);
@import url(../header/header__320px.css);