.element__like {
  width: 21px;
  height: 19px;
  padding-left: 20px;
  border: none;
  background: none;
  background-repeat: no-repeat;
  color: inherit;
  background-image: url("/images/vector_like.png");
}
    
  .element__like:hover {
  opacity: 0.6;
  width: 21px;
  height: 19px;
}