@media screen and (max-width: 502px) {
  .elements {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 20px;
  }
            
  .element {
  max-width: 100%;
  margin: 0 auto;
  }
            
  .element__image {
  margin: 0 auto;
  }
            
  .element__group {
  max-width: 100%;
  }